/* Main Content Container Styling */
/* .main-content {
    padding: 40px !important; 
    background-color: #ffffff;
    min-height: 100vh; 
    box-sizing: border-box;
    overflow-y: auto;
  } */

  /* Main content styling */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: var(--background-color);
  overflow-y: auto;
  box-sizing: border-box;
  /* --main-content-width: 100%; */
}
  
  /* Utility Classes for Padding Adjustments */
  .main-content .container-fluid,
  .main-content .container {
    padding: 20px !important; /* Adjusts inner padding specifically for the container */
  }
  
  .not-found-page {
    font-size: 1.5rem;
    color: #888;
    text-align: center;
    margin-top: 20px;
  }
  