/* Navigation */
.nav-link-no-style {
  text-decoration: none;
  color: inherit;
}

.top-nav {
  background-color: rgb(207, 207, 207);
  color: blueviolet;
  display: flex; /* Use flexbox for horizontal layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding: 1rem; /* Add padding to create some space around the navbar */
}

.navbar-fix {
  padding-top: 0 !important;; /* Remove top padding */
  padding-bottom: 0 !important;; /* Remove bottom padding */
}

/* Buttons */
.btn {
    display: flex;
    align-items: center;  /* Vertically center icon and text */
    justify-content: center;
    gap: 8px;             /* Space between icon and text */
  }
  
  .btn .material-icons {
    font-size: 1.2rem;    /* Adjust icon size */
    vertical-align: middle;
  }
  