.member-dashboard {
    display: flex;
    height: 100vh; /* Ensures that the dashboard fills the full viewport height */
  }
  
  .side-nav {
    width: 40%;  
    border-right: 2px solid #ffffff; 
  }

  .side-nav ul {
    align-content: center;
  }

  .side-nav ul li {
    padding: 8px 0;
}

  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto; /* Enables scrolling if content is too large */
  }
  